
.paypal-adaptive-vendor-name {
    vertical-align: middle;
    display: table;
}

.paypal-adaptive-vendor-name .ty-control-group__label,
.paypal-adaptive-vendor-name .ty-control-group__item,
.paypal-adaptive-vendor-name img {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.paypal-adaptive-vendor-name a {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 25px;
}

.paypal-adaptive-vendor-name a:first-child {
    padding-left: 0;
}

.paypal-adaptive-vendor-name .ty-control-group__label {
    min-width: 120px;
}

.paypal-adaptive-vendor-name-text .ty-control-group__label {
    padding: 0;
}

.object-container .paypal-adaptive-vendor-name .ty-control-group__label {
    float: none;
    vertical-align: middle;
    display: table-cell;
    min-width: 135px;
}

.object-container .paypal-adaptive-vendor-name-text .ty-control-group__label {
    padding: 0;
}

.vendor-catalog-verification {
    float: right;
    padding-top: 40px;
}

.ty-product-bigpicture .paypal-adaptive-vendor-name .ty-control-group__label,
.ty-product-bigpicture .paypal-adaptive-vendor-name .ty-control-group__item,
.ty-product-bigpicture .paypal-adaptive-vendor-name img {
    display: inline-block;
}

.ty-product-bigpicture .paypal-adaptive-vendor-name .ty-control-group__label {
    min-width: 100px;
}

.ty-product-bigpicture .ty-product-block__advanced-option .paypal-adaptive-vendor-name .ty-vendor-communication__post-write {
    display: block;
    padding-left: 0;
}

.paypal-adaptive-vendor-name-text .ty-control-group__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    float: none;
    margin-right: 5px;
}#LESS#
@import "styles.less";
@import "tygh/responsive.less";
@import "addons/social_buttons/styles.less";
@import "addons/social_buttons/responsive.less";
@import "addons/tags/styles.less";
@import "addons/rss_feed/styles.less";
@import "addons/newsletters/styles.less";
@import "addons/vendor_plans/styles.less";
@import "addons/vendor_communication/styles.less";
@import "addons/vendor_communication/responsive.less";
@import "addons/gift_certificates/styles.less";
@import "addons/gift_certificates/responsive.less";
@import "addons/store_locator/styles.less";
@import "addons/store_locator/responsive.less";
@import "addons/product_variations/styles.less";
@import "addons/product_variations/responsive.less";
@import "addons/blog/styles.less";
@import "addons/blog/responsive.less";
@import "addons/reward_points/styles.less";
@import "addons/call_requests/styles.less";
@import "addons/form_builder/styles.less";
@import "addons/form_builder/responsive.less";
@import "addons/banners/styles.less";
@import "addons/discussion/styles.less";
@import "addons/discussion/responsive.less";
@import "addons/wishlist/styles.less";
@import "addons/wishlist/responsive.less";
@import "addons/image_zoom/styles.less";
@import "addons/hybrid_auth/styles.less";
@import "addons/paypal_adaptive/responsive.less";